[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/lawsonfulton/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/lawsonfulton/lawsonfulton.github.io.git
	branch = master
